html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 15px 20px;
}

.header-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #22c55e;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

.nav a:hover {
  color: #22c55e;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  
}

h1{
   text-align: center;
}
.form-container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container h2 {
  color: #2f7d5c;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #22c55e;
  outline: none;
  box-shadow: 0 0 5px rgba(34,197,94,0.3);
}

.btn {
  padding: 12px;
  background: #2f7d5c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #256648;
}
.btne {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btne .btn {
  padding: 12px 20px;
  background: #2f7d5c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  width: auto;
}

.btne .btn:hover {
  background: #256648;
}


.footer {
  background-color: #0f172a;
  color: #e5e7eb;
  padding: 40px 0;
  width: 100%;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}

.footer-bottom {
  border-top: 1px solid #1e293b;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #94a3b8;
}
